@tailwind base;
@tailwind components;
@tailwind utilities;

.nav__button{
  background-color: var(--button-color);
  transition-duration: 0.5s;
  --tw-ring-color:var(--bg-color) !important;
}
.nav__button__panel{
  background-color: var(--accent-color);
}

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav__button:hover{
  transform:scale(1.1);
}

.header__title-sub{
  background-color: var(--accent-color-second);
  color: #3c3c3c;
}
body {
  background-color: var(--bg-color);
}
.main__card {
  background-color: var(--accent-color);
}
.main__card__body{
  height:20rem;
}
.chuck__card{
  background-color: var(--accent-color);
}
.main__card__button{
  background-color: var(--button-color);
  transition-duration: 0.5s;
}
.like_btn{
  background-color: var(--button-color);
  transition-duration: 0.5s;
}
.like_btn:hover{
  transform:scale(1.05);
}
.like_btn.liked{
  background-color: #fdcc97;
}
.nav__button.selected{
  transform:scale(1.1);
  background-color: var(--button-selected);
}

.main__card__button:hover{
  transform:scale(1.05);
}
.main__cards{
  background-color: var(--accent-color-second);
}
.modal__inner{
  background-color: var(--accent-color);
  max-height: 80%;
}
.modal{
  background-color: rgba(0, 0, 0, 0.34);
}
.modal__input{
  background-color: var(--bg-color);
  text-align: center;
}
.modal__input::placeholder{
  color:grey;
}
.modal__inner__footer__button{
  background-color: var(--button-color);
  transition-duration: 0.5s;
}
.modal__inner__footer__button:hover{
  transform:scale(1.05);
}
rect.btn__svg {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}
.main__card__more{
  display:none;
  background-color: var(--accent-color);
}
.main__card__more.open{
  display:flex;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes grow {
  from{
    height: 3rem;
  }
  to{
    height: 100%;
  }
}



