@import url('main.css');
:root{
    --bg-color:#FDF6F0;
    --accent-color:#F8E2CF;
    --accent-color-second: #eae0d9;
    --button-color:#F5C6AA;
    --button-selected:#daaf97;

}
body{
    font-size:16px;
}